<!-- Footer Area Start -->
<section class="footer-area">
    <div class="footer-top">
        <div class="container">
            <div class="footer-widget">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="single-widget">
                            <a href="#" class="footer-logo">
                                <img src="../../../../assets/main/icons/tetriq.png" alt="" width="178">
                            </a>
                            <p>Application Development Business Intelligence Workforce Solutions Technology Services.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="single-widget">
                            <h4>About Us</h4>
                            <ul>
                                <li>
                                    <p>TetriQSolutions is  a global IT Services,Product Development, and Business Solutions firm based in  dallas . We specialise in delivering flexible IT solutions for today’s complex business technology.</p>
                                </li>
                                <!-- <li><a href="#">Privicy & Policy</a></li>
                                    <li><a href="#">Terms & Condition</a></li>
                                    <li><a href="#">Condition & Terms</a></li>
                                    <li><a href="#">Condition & Terms</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="single-widget">
                            <h4>Contact Us</h4>
                            <ul>
                                <!-- <li><a> Phone: +1 203-678-8000 </a></li> -->
                                <!-- <li><a> HR & Payroll: hrservices@tetriqsolutions.com </a></li> -->
                                <li><p ><img src="../../../../assets/main/icons/usa_flag.webp" 
                                    alt="" style="height: 20px; width: 30px;">
                                    &nbsp;2340 E Trinity Mills , suite 300 Carrollton  Texas 75006 </p></li>
                                <li><p><img src="../../../../assets/main/icons/india_flag.png"
                                    alt="" style="height: 20px; width: 30px;">
                                    &nbsp;Plot no .5-2/56,<br> Phase-1, Mythri Nagar,<br>
                                 Indra Reddy Allwyn Colony, Hafeezpet,
                                 Madeenaguda, Telangana.
                                 Pincode: 500049 </p></li>
                                <li><p ><img src="../../../../assets/main/icons/canada.png"
                                     alt="" style="height: 20px; width: 30px;">
                                    &nbsp;449 SE Marine Dr<br>
                                    Vancouver BC V5X 2S9<br>
                                    Canada </p></li>
                                <!-- <li><a href="#">About Company</a></li>
                                    <li><a href="#">Company Profile</a></li>
                                    <li><a href="#">Company Team</a></li>
                                    <li><a href="#">History of Company</a></li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="single-widget">
                            <h4>Our Mission</h4>
                            <ul>
                                <li><p>
                                Integrity in Services
                                Commitment to the Solutions
                                Exceptional Approach to Business
                                Quality of Services or Products
                                </p></li>
                            </ul>
                            <!-- <form action="http://crazycafe.net/demos/digitalseo/mail.php">
                                <div class="footer-widget-input">
                                    <input type="text" name="message" id="message9" placeholder="Message">
                                    <button class="footer-wifget-submit-btn" type="submit" name="submit" id="submit">
                                            <i class="fa fa-envelope-o"></i>
                                        </button>
                                </div>
                            </form> -->
                            <div class="footer-widget-icons">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/TetriQSolutions/" target="_blank" class="fa fa-facebook" style="color:cornsilk; background: blue"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/tetriq-solutions" target="_blank" class="fa fa-linkedin-square" aria-hidden="true" style="color:cornsilk; background: rgb(102, 191, 233)"></a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-content">
                        <p><a href="#">TetriqSolutions© 2020 All rights reserved</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<scrolltop [bottom]="iconBottom" [background]="iconColor" [fill]="iconFill" [size]="iconSize" [sizeInner]="iconSizeInner" [elementId]="elementId">
</scrolltop>