<app-header></app-header>
<section class="news-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>WHAT THEY SAY ABOUT US</h2>
                    <p style="color: rgb(62, 2, 102);">We needed to know "What makes TetriqSolutions extraordinary?" so we chose to go directly to the source and ask our customers for what reason they picked us. One regular topic that surfaced in their reactions was trust. Our customers
                        consider us to be a believed colleague as a result of dependability, proactive methodology, mindful, experience, information, innovation and apparatuses, worth and results.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="news-single-content">
                    <div class="news-single-image">
                        <img src="../../../../assets/main/images/news-img1.jpg" alt="">
                        
                    </div>
                    <div class="news-single-details">
                        <h3>We make promise to deliver!</h3>
                        <p>I want to personally thank the TetriqSolutions team for getting us through on this integrated enterprise solution system. TetriqSolutions has been consistent in their promise to deliver Onetime/On Budget.
                        </p>
                        <!-- <a href="#" class="read-more-btn">Read more<i class="icofont icofont-long-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="news-single-content">
                    <div class="news-single-image">
                        <img src="../../../../assets/main/images/news-img2.jpg" alt="">
                    </div>
                    <div class="news-single-details">
                        <h3>We make a quality of service</h3>
                        <p>
                            I am very impressed by the quality of the team working on our project. Not only is the code top quality which many development houses can write If I had to do it all over again, I would select TetriqSolutions as our outsourcing provider again.
                        </p>
                        <!-- <a href="#" class="read-more-btn">Read more<i class="icofont icofont-long-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="news-single-content">
                    <div class="news-single-image">
                        <img src="../../../../assets/main/images/news-img3.jpg" alt="">
                    </div>
                    <div class="news-single-details">
                        <h3>We make a new relationships!</h3>
                        <p>We are very satisfied and happy to have found TetriqSolutions as our offshore development partner. During our relationship, TetriqSolutions has developed a good understanding of our own vision and work flows .</p>
                        <!-- <a href="#" class="read-more-btn">Read more<i class="icofont icofont-long-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- news Area End -->