  <!-- start Area Start -->
  <section class="start-area">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-9">
                <div class="start-area-left">
                    <h2>You start new business with us!</h2>
                    <p>WE HELP IN PROVIDING THE EFFECTIVE SOLUTIONS TO SERVE OUR CLIENTS</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-3">
                <div class="start-area-right">
                    <a href="#" class="start-btn">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start Area End -->
