
.adrress-name {
    color: #345ab1;
    font-size: medium;
    font-family: inherit;
    font-weight: 500;
    
}

.tertriqsol {
color: black;
// font-family: fantasy;
padding-bottom: 30px;
padding-top: 30px;
text-align: center;
}

agm-map {
    height: 1000px;
  }

  .service-area{
      padding-top:8%;
    //   background-color: rgb(236, 251, 236);
      height:100%;
  }
.address {
    color: black;
}