.navbar-mini{
    background: #333366;
    .items{
        padding: 20px;
    a{
        color: #ffffff;
    }
  }
  }
  .navbar-main{
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    .items{
        ul{
            list-style: none;
            display: flex;
            float: right;
            color: #000000;
            li{
            padding-right: 40px;
            font-size: 16px;
            font-weight: 500;
            transition: all 0.3s ease 0s;
            // box-sizing: border-box;
            cursor: pointer;
            }
        }
  
    }
  }
  .item-button:hover {
    background-color : transparent;
    color: indigo;
  }
  
  .item-button{
    font-size: larger;
  }
  // .item-button:hover {
  //   background-color: rgb(155, 252, 211);
  //   color: ;
  // }
  // .active-list{
  //   color: rebeccapurple;
  // }
  // .items>ul>li:hover{
  //   color: rebeccapurple;
  // }
  
  .material-icons{
  font-size: 15px !important;
  }
  
  
  
  
  /* jsdjsd   */
  
  .container {
        height: 30px;
        overflow: hidden;
        position: relative;
        width: 100%;
      }
  
      .scrolling-text {
        position: absolute;
        white-space: nowrap;
      }
  
      mark, .mark {
        padding: 0.2em;
        background-color: #333366;
        color: white;
    }
  
  
  
  
  
  .secondToolbar {
    position: fixed;
    background: #467ce0;
    z-index: 1000;
    top: 0;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-out, height .15s ease;
    cursor: default;
    user-select: none;
  }
  
  .sticky {
    height: 64px;
    opacity: 1;
    transition: opacity .25s ease-out, height .15s ease;
  }
  
  
  
  @media only screen and (max-width: 500px) {
    .div-desktop {
      display: none !important;
    }
  }
  .navbar-main
  { z-index: 99 !important; }

  .content { 
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: black;
    font-size: larger;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .hiring {
    padding-top: 10%;
    text-align: center;
    color: rgb(41, 175, 8);
    font-weight: 50px;
    font-size: x-large;
  }

.requirements {
  float: left;
  padding-top: 2%;
  padding-left: 13%;
  color: black;
  font-size:15px;
  width:50%;
}

.roles {
  float: right;
  color: black;
  font-size:15px;
  width:50%;
  padding-top: 2%;
  padding-left: 10%;

}