<app-header></app-header> 
<div class="hiring"> 
    <p>WE ARE HIRING!!</p>
</div>
<div class="content">
<p>Our business achievement begins with outstanding IT counseling assets. Since our first day, we have concentrated on employing and holding the best IT ability. TetriQ Arrangements plan of action is intended to give progressing preparing, profession advancement, testing activities, and migration uphold. With the achievement dependent on our IT advisors, our business development is dictated by the development of our expert base. We are hoping to include new people who are dedicated, smart, capable, and decided.</p>
</div>
<div>
<div class="requirements">
    <ul>
        <p style="font-size:larger; font-weight:500;color: rgb(75, 149, 151);">Requirements</p>
        <li>Java (Java, Hibernate, Spring, Struts)</li>
        <li>Microsoft Technologies (.NET, SharePoint, SQL, ASP.net)</li>
        <li>Software Infrastructure (Operating Systems, Email/messaging, Oracle, Sybase, SQL)
            Web (WEB 2.0, Flex)</li>
        <li>QA Tools (HP Quality Center, Rational Robot, QTP)</li>  
        <li>Industry Specific Solutions (Guidewire)</li>  
       
    </ul>
</div>
<div class="roles">
    <ul>
        <p style="font-size:larger; font-weight:500;color: rgb(75, 149, 151);">Roles</p>
        <li>Mobile developer </li>
        <li>Project manager</li>
    </ul>
</div>
</div>
    