
<section class="service-area" style="padding-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Our Services</h2>
                    <p>
                        TetriqSolutions is a worldwide IT Services, Product Development, and Business Solutions firm situated in Dallas. We center around conveying adaptable IT answers for the present complex business innovation. We drive Success for Client Business by utilizing
                        our ability in IT Solutions and Business Process enhancements. We convey the basic abilities and information base to our customers to prevail in the present innovation subordinate commercial center.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-single-content">
                    <div class="single-service-icon">
                        <img src="../../../../assets/main/icons/service-img1.png" alt="" style="height: 200px; width: 300px;">
                    </div>
                    <h3>Application Development</h3>
                    <p>Business Intelligence Workforce Solutions Technology Services</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-single-content">
                    <div class="single-service-icon">
                        <img src="../../../../assets/main/icons/Itservices.jpg" alt="" style="height: 200px; width: 300px;">
                    </div>
                    <h3>IT Services</h3>
                    <p>TetriqSolutions IT Services team is formed by Highly successful Industry experts, driven with the passion for making the CLIENTS SUCCEED. Our management’s core belief is to build a workforce that is driven, passionate and highly result
                        oriented building world-class IT infrastructures to grow your business</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-single-content">
                    <div class="single-service-icon">
                        <img src="../../../../assets/main/icons/service-img4.png" alt="" style="height: 200px; width: 300px;">
                    </div>
                    <h3>Staffing</h3>
                    <p>A good starting point for your content strategy plan is to set out a content marketing mission statement. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-single-content">
                    <div class="careers">
                    <div class="single-service-icon">
                        <a class="nav-link" [routerLink]="['/career']">
                        <img src="../../../../assets/main/icons/carries.jpg" alt="" style="height: 200px; width: 300px;"></a>
                    </div>
                    </div>
                    <h3>CAREERS</h3>
                    <p> Recent Graduates Experienced Engineers Working at TetriqSolutions Other opportunities</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-single-content">
                    <div class="single-service-icon">
                        <img src="../../../../assets/main/icons/service-img3.png" alt="" style="height: 200px; width: 300px;">
                    </div>
                    <h3>TRAINING</h3>
                    <p>Training is provided by experienced working professionals in the US, thus ensuring a better understanding of the current tools and technologies.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-single-content">
                    <div class="single-service-icon">
                        <img src="../../../../assets/main/icons/analytics.jpg" alt="" style="height: 200px; width: 300px;">
                    </div>
                    <h3>Analytics</h3>
                    <p>Conversations with hundreds of business leaders reveal nine ways that they are—and are not—adapting to the analytics revolution. Analytics can create new opportunities and disrupt entire industries.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- service Area End -->